[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
requests = "*"
nltk = "*"
pytube3 = "*"
flask-cors = "*"
python-dotenv = "*"
gensim = "*"

[requires]
python_version = "3.7"
